<div class="parallax-background-home" id="background-home">
  <img #parallaxImage class="parallax-img" src="assets/images/background-home.png" alt="Fondo background-home" />
  <div class="background-home-overlay">
    <div class="background-home-content">
      <h1>Bienvenido a Webcars</h1>
      <p>Explora los vehículos destacados</p>
      <button class="background-home-btn" (click)="scrollDown()">Ver contenido ↓</button>
    </div>
  </div>
</div>

<div class="container" #contentSection>
  <app-navbar></app-navbar>
  <div class="row m-4">
    <div class="col-12 col-md-4 mb-4">
      <app-card></app-card>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <app-card></app-card>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <app-card></app-card>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <app-card></app-card>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <app-card></app-card>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <app-card></app-card>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <app-card></app-card>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <app-card></app-card>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <app-card></app-card>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <app-card></app-card>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <app-card></app-card>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <app-card></app-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
